@import "../../css/global/vairables.scss";
// @import "../../css/global/mixins.scss";

.app-header {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  .hacker-news-logo {
    border: 1px solid $white-color;
    margin: 3px;
  }
  .pd-5 {
    padding: 5px;
  }
  .header-elements {
    cursor: pointer;
  }
  .active {
    color: $white-color;
  }
}
